<div class="container slideInLeft animated">
<button class="btn" style="width:60px;height:30px;margin-top:10px"
    [class.btn-primary]="editable"
    (click)="editable = !editable">
<div *ngIf="!editable"></div>
{{editable&&'Done'||'Edit'}}
</button>
<button routerLink="/" type="button" class="close" aria-label="Close" style="float: right">
  <span style="margin-right:-10px;float: right" aria-hidden="true">&times;</span>
</button>

    <select class="btn" id="selectTimeSeries" style="width:140px;height:30px;margin-top:10px;margin-left:20px;background-color: rgba(28,51,83,.52)" (change)="selectDataSet($event)">
        <option style="background-color: rgba(28,51,83);border-width:0px;width:130px;" *ngFor="let serie of series" value= {{serie.id}}>
          {{serie.name}}
        </option>
    </select>
<button class="btn" style="width:120px;height:30px;margin-top:10px;margin-left:20px;">DOWNLOAD</button>
  <div class="inner-container">
    <div class="dashboard-container">
      <ngx-widget-grid [rows]="rows" [columns]="cols" [highlightNextPosition]="highlightNextPosition"
                       #grid [showGrid]="false" (gridFull)="onGridFull($event)"
                       (widgetPositionChange)="onWidgetChange($event)"
                       style="height:90%;width:95%;margin-top:-15px">
        <ngx-widget *ngFor="let widget of initSetup.widgets;let $index = index;" [position]="widget" [movable]="editable"
                    [resizable]="editable">
          <div style="height:100%;width:100%; display:flex;">
            <div class="search-result">
              <div *ngIf="appComponent.objectType=='comet'">
                <table style="font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size: 11;font-style: 'normal';color:#666" class="table table-striped table-sm">
                  <td *ngFor="let searchRecord of dataService.searchData | async let i = index">
                    <p *ngIf="i == 0" style="font-size: 14px;font-family: Montserrat,sans-serif;">
                      <tr>{{searchRecord.reference.label}}</tr>
                      <tr>{{searchRecord.cometNumberAndOrbitType.label}}</tr>
                      <tr>{{searchRecord.year.label}}</tr>
                      <tr>{{searchRecord.month.label}}</tr>
                      <tr>{{searchRecord.day.label}}</tr>
                      <tr>{{searchRecord.perihelionDistancePD.label}}</tr>
                      <tr>{{searchRecord.orbitalPeriodAndPerihelionW.label}}</tr>
                      <tr>{{searchRecord.longitudeL.label}}</tr>
                      <tr>{{searchRecord.inclinationI.label}}</tr>
                      <tr>{{searchRecord.magnitudeMag.label}}</tr>
                      <tr>{{searchRecord.slopeParameter.label}}</tr>
                      <tr>{{searchRecord.namePart1.label}}</tr>
                    </p>
                  </td>
                  <!--async pipe allows to use directly dataService-->
                  <td *ngFor="let searchRecord of dataService.searchData | async">
                    <tr style="height: 20px">{{searchRecord.reference.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.cometNumberAndOrbitType.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.year.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.month.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.day.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.perihelionDistancePD.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.orbitalPeriodAndPerihelionW.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.longitudeL.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.inclinationI.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.magnitudeMag.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.slopeParameter.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.namePart1.value}}</tr>
                  </td>
                </table>
              </div>
              <div *ngIf="appComponent.objectType=='planetoid'">
                <table style="font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size: 11;font-style: 'normal';color:#666" class="table table-striped table-sm">
                  <td>
                    <tr *ngFor="let head of headPlanetoidElements">{{head}}</tr>
                  </td>
                  <tr *ngFor="let searchRecord of dataService.searchData | async">
                    <td>{{searchRecord.Catalog}}</td>
                    <td>{{searchRecord.ObjectName}}</td>
                    <td>{{searchRecord.ObjectType}}</td>
                    <td>{{searchRecord.Date}}</td>
                    <td>{{searchRecord.e}}</td>
                    <td>{{searchRecord.omega}}</td>
                    <td>{{searchRecord.L}}</td>
                    <td>{{searchRecord.I}}</td>
                    <td>{{searchRecord.EpochDate}}</td>
                    <td>{{searchRecord.Mag}}</td>
                  </tr>
                </table>
              </div>
              <div *ngIf="appComponent.objectType=='star'">
                <div *ngFor="let searchRecord of dataService.searchData | async">
                  <b style="font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size: 11;font-style: 'normal';color:#666" *ngIf="searchRecord.catalogName.value=='TYC'">
                    Ra: {{searchRecord.rahms.value}} | Dec: {{searchRecord.dedms.value}}
                  </b>
                </div>
                <table class="table table-striped table-sm" style="font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size: 11;font-style: 'normal';color:#666">
                  <td *ngFor="let searchRecord of dataService.searchData | async let i = index">
                    <p *ngIf="i == 0" style="font-size: 14px;font-family: Montserrat,sans-serif;">
                      <tr>{{searchRecord.catalogName.label}}</tr>
                      <tr>{{searchRecord.objectName.label}}</tr>
                      <tr>{{searchRecord.u.label}}</tr>
                      <tr>{{searchRecord.v.label}}</tr>
                      <tr>{{searchRecord.b.label}}</tr>
                      <tr>{{searchRecord.distinctionBV.label}}</tr>
                      <tr>{{searchRecord.distinctionUB.label}}</tr>
                      <tr>{{searchRecord.distinctionRI.label}}</tr>
                      <tr>{{searchRecord.distinctionVI.label}}</tr>
                      <tr>{{searchRecord.spectralType.label}}</tr>
                    </p>
                  </td>
                  <td *ngFor="let searchRecord of dataService.searchData | async">
                    <tr style="height: 20px">{{searchRecord.catalogName.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.objectName.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.u.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.v.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.b.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.distinctionBV.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.distinctionUB.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.distinctionRI.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.distinctionVI.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.spectralType.value}}</tr>
                  </td>
                </table>
              </div>
            </div>
          </div>
        </ngx-widget>
        <ngx-widget *ngFor="let widget of initSetup.widgets5;let $index = index;" [position]="widget" [movable]="editable"
                    [resizable]="editable">  
          <div style="display: block" *ngIf="scatterChartData">
                  <canvas baseChart
                    [datasets]="scatterChartData"
                    [options]="scatterChartOptions"
                    [labels]="scatterChartLabels"
                    [chartType]="scatterChartType">
                  </canvas>
          </div>
        </ngx-widget>
      </ngx-widget-grid>
    </div>
  </div>
</div>