<div class="container slideInLeft animated">
  <button routerLink="/" type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="inner-container">
    <div class="dashboard-container">
      <ngx-widget-grid [rows]="rows" [columns]="cols" [highlightNextPosition]="highlightNextPosition"
                       #grid [showGrid]="showGrid" (gridFull)="onGridFull($event)"
                       (widgetPositionChange)="onWidgetChange($event)"
                       style="height:93%;width:97%;margin-top:-15px">
        <ngx-widget *ngFor="let widget of this.initSetup.widgets;let $index = index;" [position]="widget" [movable]="editable"
                    [resizable]="editable">
          <div style="height:100%;width:100%; display:flex;">
            <div class="search-result">
              <div *ngIf="appComponent.objectType=='comet'">
                <b>Category: Comet</b>
                <table class="table table-striped table-sm">
                  <td *ngFor="let searchRecord of dataService.searchData | async let i = index">
                    <p *ngIf="i == 0" style="font-size: 14px;font-family: Montserrat,sans-serif;">
                      <tr>{{searchRecord.reference.label}}</tr>
                      <tr>{{searchRecord.cometNumberAndOrbitType.label}}</tr>
                      <tr>{{searchRecord.year.label}}</tr>
                      <tr>{{searchRecord.month.label}}</tr>
                      <tr>{{searchRecord.day.label}}</tr>
                      <tr>{{searchRecord.perihelionDistancePD.label}}</tr>
                      <tr>{{searchRecord.orbitalPeriodAndPerihelionW.label}}</tr>
                      <tr>{{searchRecord.longitudeL.label}}</tr>
                      <tr>{{searchRecord.inclinationI.label}}</tr>
                      <tr>{{searchRecord.magnitudeMag.label}}</tr>
                      <tr>{{searchRecord.slopeParameter.label}}</tr>
                      <tr>{{searchRecord.namePart1.label}}</tr>
                      <!--<tr>{{searchRecord.namePart2.label}}</tr>
                      <tr>{{searchRecord.namePart3.label}}</tr> -->
                    </p>
                  </td>
                  <!--async pipe allows to use directly dataService-->
                  <td *ngFor="let searchRecord of dataService.searchData | async">
                    <tr style="height: 20px">{{searchRecord.reference.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.cometNumberAndOrbitType.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.year.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.month.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.day.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.perihelionDistancePD.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.orbitalPeriodAndPerihelionW.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.longitudeL.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.inclinationI.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.magnitudeMag.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.slopeParameter.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.namePart1.value}}</tr>
                    <!--<tr style="height: 20px">{{searchRecord.namePart2.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.namePart3.value}}</tr> -->
                  </td>
                </table>
              </div>
              <div *ngIf="appComponent.objectType=='planetoid'">
                <b>Category: Planetoid</b>
                <table class="table table-striped table-sm">
                  <td>
                    <tr *ngFor="let head of headPlanetoidElements">{{head}}</tr>
                  </td>
                  <tr *ngFor="let searchRecord of dataService.searchData | async">
                    <td>{{searchRecord.Catalog}}</td>
                    <td>{{searchRecord.ObjectName}}</td>
                    <td>{{searchRecord.ObjectType}}</td>
                    <td>{{searchRecord.Date}}</td>
                    <td>{{searchRecord.e}}</td>
                    <td>{{searchRecord.omega}}</td>
                    <td>{{searchRecord.L}}</td>
                    <td>{{searchRecord.I}}</td>
                    <td>{{searchRecord.EpochDate}}</td>
                    <td>{{searchRecord.Mag}}</td>
                  </tr>
                </table>
              </div>
              <div *ngIf="appComponent.objectType=='star'">
                <b>Category: Star</b>
                <div *ngFor="let searchRecord of dataService.searchData | async">
                  <b *ngIf="searchRecord.catalogName.value=='TYC'">
                    Ra: {{searchRecord.rahms.value}} | Dec: {{searchRecord.dedms.value}}
                  </b>
                </div>
                <table class="table table-striped table-sm">
                  <td *ngFor="let searchRecord of dataService.searchData | async let i = index">
                    <p *ngIf="i == 0" style="font-size: 14px;font-family: Montserrat,sans-serif;">
                      <tr>{{searchRecord.catalogName.label}}</tr>
                      <tr>{{searchRecord.objectName.label}}</tr>
                      <tr>{{searchRecord.u.label}}</tr>
                      <tr>{{searchRecord.v.label}}</tr>
                      <tr>{{searchRecord.b.label}}</tr>
                      <tr>{{searchRecord.distinctionBV.label}}</tr>
                      <tr>{{searchRecord.distinctionUB.label}}</tr>
                      <tr>{{searchRecord.distinctionRI.label}}</tr>
                      <tr>{{searchRecord.distinctionVI.label}}</tr>
                      <tr>{{searchRecord.spectralType.label}}</tr>
                    </p>
                  </td>
                  <td *ngFor="let searchRecord of dataService.searchData | async">
                    <tr style="height: 20px">{{searchRecord.catalogName.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.objectName.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.u.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.v.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.b.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.distinctionBV.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.distinctionUB.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.distinctionRI.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.distinctionVI.value}}</tr>
                    <tr style="height: 20px">{{searchRecord.spectralType.value}}</tr>
                  </td>
                </table>
              </div>
            </div>
          </div>
        </ngx-widget>
        <ngx-widget *ngFor="let widget of this.initSetup.widgets2;let $index = index;" [position]="widget" [movable]="editable"
                    [resizable]="editable">
          <div style="height:100%;width:100%; display:flex;">
            <nvd3 style="fill:white;margin: 5 auto;" [options]="options2" [data]="data2"></nvd3>
          </div>
        </ngx-widget>
        <ngx-widget *ngFor="let widget of this.initSetup.widgets3;let $index = index;" [position]="widget" [movable]="editable"
                    [resizable]="editable">
          <div style="height:100%;width:100%; display:flex;">
            <nvd3 style="fill:white;" [options]="options3" [data]="data3"></nvd3>
          </div>
        </ngx-widget>
        <ngx-widget *ngFor="let widget of this.initSetup.widgets4;let $index = index;" [position]="widget" [movable]="editable"
                    [resizable]="editable">
          <div style="height:100%;width:100%; display:flex;">
            <nvd3 style="fill:white;" [options]="options3" [data]="data3"></nvd3>
          </div>
        </ngx-widget>
        <ngx-widget *ngFor="let widget of this.initSetup.widgets5;let $index = index;" [position]="widget" [movable]="editable"
                    [resizable]="editable">
          <div style="height:100%;width:100%; display:flex;">
            <nvd3 style="fill:white;" [options]="options5" [data]="data5"></nvd3>
          </div>
        </ngx-widget>
      </ngx-widget-grid>
    </div>
  </div>
</div>
