#spectroscopy, #astrometry, #observatories, #photometry, #reduction, #series,
#stars-div, #comets-div, #planetoids-div, #magnitudo-div, #spectral-div, #distance-div, #zoom{
    opacity:.4;
    cursor:default;
}

.zoom{
  margin-left:0px;
  margin-top:0px;
  text-align:right;
  border-radius:5px;
  width:100%;
  border-image-slice: 1;
  border-width: 1px;
  background-color:rgba(28,51,83,.52);
}

.zoom .section{
  height:48px;
  margin-top:0px;
  padding-top:2px;
}

.right-menu{
  width:100%;
  margin-left:0px;
  margin-top:10px;
  text-align:right;
  border-radius:5px;
  border-image-slice: 1;
  border-width: 1px;
  background-color:rgba(28,51,83,.52);
}

.object-filters{
  width:100%;
  margin-left:0px;
  margin-top:10px;
  text-align:right;
  border-radius:5px;
  border-image-slice: 1;
  border-width: 1px;
  background-color:rgba(28,51,83,.52);
}

.filters{
  width:100%;
  margin-left:0px;
  margin-top:10px;
  text-align:right;
  border-radius:5px;
  border-image-slice: 1;
  border-width: 1px;
  background-color:rgba(28,51,83,.52);
}

.grid{
  width:100%;
  margin-left:0px;
  margin-top:10px;
  text-align:right;
  border-radius:5px;
  border-image-slice: 1;
  border-width: 1px;
  background-color:rgba(28,51,83,.52);
  height:100%
}

label{
  margin-right:5px;
  float:right;
}

img{
    width:25px;
    margin-top:-10px;
}

.icon{
  display: inline-block;
  margin-left: 0px;
  vertical-align:middle;
}

img {
  font-size: 24px;
}

.section{
    height:30px;
    padding-top:8px;
    margin-top:0px;
}

.filters .section{
    height:30px;
    padding-top:8px;
    margin-top:12px;
}

.name{
    font-size:10px;
    margin-left:-5px;
    vertical-align: top;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 25px;
	height: 15px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: rgb(33, 134, 177);
}

input:checked + label:after {
	left: calc(100% - 0px);
	transform: translateX(-100%);
}

label:active:after {
	width: 10px;
}

.form-control{
    border-radius: 0px;
    border-color: rgba(33,134,177);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 200px;
    height: 30px;
    background-color:rgba(28,51,83,.52);
}

.input-group-append{
    width:300px;
    font-family:Montserrat,sans-serif;
    font-weight: normal;
}

.form{
    text-align:center;
    margin-left:50px;
}

.btn-search{
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
    width:40px;
    height:30px;
    font-size:12px;
    border:0px;
    background-color: rgba(33,134,177);
    color:white;
}

.slider{
  margin: 0 auto;
  text-align:center;
}

.slidecontainer{
  margin: 0 auto;
  text-align:center;
}
