<div class="zoom">
  <div>
    <div class="section">
      <div class="slidecontainer">
        <span class="name">ZOOM</span>
        <input type="range" min="1" max="100" value="50" class="slider" id="zoom">
      </div>
    </div>
  </div>
</div>
<div class="right-menu">
  <div>
    <div class="section">
      <a routerLink="/">
        <span class="name">HOME</span>
        <img draggable="false" src="./assets/images/home.png">
      </a>
    </div>
    <div class="section" id="reduction">
      <span class="name">CCD DATA REDUCTION</span>
      <img draggable="false" src="./assets/images/reduction.png">
    </div>
    <div class="section" id="photometry">
      <span class="name">PHOTOMETRY LAB</span>
      <img draggable="false" src="./assets/images/photometry.png">
    </div>
    <div class="section" id="astrometry">
      <span class="name">ASTROMETRY LAB</span>
      <img draggable="false" src="./assets/images/astrometry.png">
    </div>
    <div class="section" id="spectroscopy">
      <span class="name">SPECTROSCOPY LAB</span>
      <img draggable="false" src="./assets/images/spectroscopy.png">
    </div>
    <div class="section" id="series">
      <span class="name">TIME SERIES</span>
      <img draggable="false" src="./assets/images/observations.png">
    </div>
    <div class="section" id="dashboards">
      <a routerLink="/diagrams">
      <span class="name">DASHBOARDS</span>
      <img draggable="false" src="./assets/images/diagrams.png">
      </a>
    </div>
    <div class="section" id="observatories">
      <span class="name">OBSERVATORIES</span>
      <img draggable="false" src="./assets/images/telescopes.png">
    </div>
  </div>
</div>
<div class="object-filters">
  <div>
    <div class="section" id="stars-div">
      <span class="name">STARS</span>
      <input type="checkbox" id="stars"/>
      <label for="stars"></label>
    </div>
    <div class="section" id="comets-div">
      <span class="name">COMETS</span>
      <input type="checkbox" id="comets"/>
      <label for="comets">
      </label>
    </div>
    <div class="section" id="planetoids-div">
      <span class="name">PLANETOIDS</span>
      <input type="checkbox" id="planetoids"/>
      <label for="planetoids">
      </label>
    </div>
  </div>
</div>
<div class="filters">
  <div>
    <div class="section" id="magnitudo-div">
      <div class="slidecontainer">
        <span class="name">ABSOLUTE MAGNITUDE</span>
        <input type="range" min="1" max="100" value="50" class="slider" id="magnitudo">
      </div>
    </div>
    <div class="section" id="distance-div">
      <div class="slidecontainer">
        <span class="name">DISTANCE</span>
        <input type="range" min="1" max="100" value="50" class="slider" id="distance">
      </div>
    </div>
    <div class="section" id="spectral-div">
      <span class="name">SPECRTAL TYPE</span>
      <input type="checkbox" id="spectral"/>
      <label for="spectral"></label>
    </div>
  </div>
</div>
<div class="grid">
  <div>
    <div class="section">
      <span class="name">EQUATORIAL GRID</span>
      <input type="checkbox" id="grid"/>
      <label for="grid"></label>
    </div>
  </div>
</div>

