<app-observation-modal>
  <div class="container">
    <form>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" id="star" name="object" checked="">Star
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="object" id="planetoid">Planetoid
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="object" id="comet">Comet
        </label>
      </div>
      <div class="form-group">
        <label for="object-name">Object Name </label>
        <input type="text" class="form-control" placeholder="e.g. Vega" id="object-name" required/>
      </div>
      <div class="form-group">
        <label for="start-date">Start Date</label>
        <input type="date" class="form-control" id="start-date" required/>
      </div>
      <div class="form-group">
        <label for="end-date">End Date</label>
        <input type="date" class="form-control" id="end-date" required/>
      </div>
      <div class="form-group">
        <label for="u-photometry">U Photometry</label>
        <input type="file" accept="text/csv" id="u-photometry"/>
      </div>
      <div class="form-group">
        <label for="v-photometry">V Photometry</label>
        <input type="file" accept="text/csv" id="v-photometry"/>
      </div>
      <div class="form-group">
        <label for="b-photometry">B Photometry</label>
        <input type="file" accept="text/csv" id="b-photometry"/>
      </div>
      <div class="form-group">
        <label for="r-photometry">R Photometry</label>
        <input type="file" accept="text/csv" id="r-photometry"/>
      </div>
      <div class="form-group">
        <label for="i-photometry">I Photometry</label>
        <input type="file" accept="text/csv" id="i-photometry"/>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio" id="yes">Yes
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio" id="no">No
        </label>
      </div>
    </form>
  </div>
</app-observation-modal>
