@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

body,html{
    margin:0;
    padding:0;
    font-size:14px;
    font-family:Montserrat,sans-serif;
    background-color:black;
    overflow: hidden;
}
a{
    text-decoration:none;
    transition:.3s;
}
a:hover{
    text-decoration:none;
    transition:.3s
}

/* main */
.main{
    height:100%;
    width:100%;
    background-size:cover;
    background-position:center center;
    color:#fff;
	  opacity:0.8;
	  z-index:-1;
}
.main .container{
    background-color:rgba(28,51,83,.52);
    margin:0 auto;
}

/* modals */
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-backdrop{
    z-index: 0 !important;
    background-color: grey !important;
    opacity: 0.5 !important;
}
.modal-content{
  	border-radius:2px;
    border:0px solid;
    border-color: black;
    background-color:rgba(28,51,83);
    text-align:left;
    margin:0 auto;
    margin-top: 30px;
    width:300px;
    height:420px;
    color:#fff;
    font-family:Montserrat,sans-serif;
    font-weight: normal;
}
.modal-header {
    border-bottom: 0px;
    margin-bottom:30px;
    margin-left:100px;
    color:rgba(33,134,177);
    font-family:Montserrat,sans-serif;
    font-weight: normal;
    text-align:center;
 }
.modal-header .close {
    margin-top: -20px;
    margin-right: 0px;
    color: white;
    opacity: 0.2;
}
.modal-header .close:hover {
   margin-top: -20px;
   margin-right: 0px;
   color: white;
   opacity: 0.6;
}
.modal-footer {
   margin:0 auto;
   margin-top: 30px;
   text-align: center;
   border-top: 0px;
   color:#555;
   font-family:Montserrat,sans-serif;
   font-weight: bold;
   margin-left: 5%;
   margin-right: 5%
}

/* buttons */
.btn{
    border-radius:30px;
    width:240px;
    height:35px;
    font-size:12px;
    border:0px;
    background-color: rgba(33,134,177);
    color:white;
}
.btn:hover{
    border-radius:30px;
    width:240px;
    height:35px;
    font-size:12px;
    border:0px;
    background-color: rgba(33,134,177);
    color:white;
    outline: none;
}
.btn:focus{
    box-shadow:0 0 0 .0rem rgba(0,123,255,.25);
}
.read-only{
    border-radius:0px;
    width:50px;
    height:20px;
    font-size:12px;
    background-color:rgba(59,175,218);
}

/* background */
@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-moz-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
* {
    margin: 0;
    padding: 0;
}
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


/* middle section */
.close span{
  color:white;
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.main .container{
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  margin:0 auto;
  z-index:10;
  min-width:40%;
  max-width:40%;
  min-height:565px;
  max-height:80%;
  border-radius:2px;
  margin-bottom:50px;
  display: block;
    margin-left: 10px;
    margin-right: auto;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* left menu */
.description {
  max-width: 600px;
  margin: 0 auto;
  color: rgba(229, 229, 229, 0.7);
}
p {
  font-size: 12pt;
  margin-bottom: 12pt;
}

/* map points */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.centered-y {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.distribution-map {
  position: relative;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  margin: 0 auto;
}
.distribution-map .map-point {
  cursor: pointer;
  outline: none;
  z-index: 1;
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.3;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  -moz-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
  -o-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
  -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, z-index 0.25s ease-in-out;
  -webkit-transition-delay: 0.25s, 0.25s, 0.25s, 0.25s;
  transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
  color: white;
  background: white;
  border: 0px solid white;
}
.distribution-map .map-point .content {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  width: 120px;
  height: 40px;
  margin-left: 60px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow: overlay;
  background: rgb(33, 134, 177);
  border-radius: 5px;
  background-color:rgba(28,51,83,.52);
}
.distribution-map .map-point:active, .distribution-map .map-point:focus {
  margin: 0;
  padding: 0;
  opacity: 1;
  width: 120px;
  height: 40px;
  color: rgba(28,51,83,.52);
  z-index: 1;
  transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;
  border-radius: 5px;
  background-color:rgba(28,51,83,.52);
}
.distribution-map .map-point:active .content, .distribution-map .map-point:focus .content {
  opacity: 1;
  -moz-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
  -webkit-transition-delay: 0.25s, 0s, 0s;
  transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
  overflow: hidden;
  background-color:rgba(28,51,83,.52);
}
.distribution-map .map-point:active .content a:hover, .distribution-map .map-point:active .content a:active, .distribution-map .map-point:focus .content a:hover, .distribution-map .map-point:focus .content a:active {
  color: rgb(33, 134, 177);
  background-color:rgba(28,51,83,.52);
}
/* header */
.header{
  width:100%;
  height:10%;
  z-index:100;
  height:50px;
  display:inline-block;
}

/* hamburger menu */
#menuToggle{
z-index:100;
}
#menu > li > a{
color:black
}
#menu > li{
color:black
}
#menuToggle
{
display: block;
position: absolute;
top: 15px;
left: 10px;
z-index: 1;
-webkit-user-select: none;
user-select: none;
}
#menuToggle input
{
display: block;
width: 40px;
height: 32px;
position: absolute;
top: -7px;
right: -5px;
cursor: pointer;
opacity: 0;
z-index: 2;
-webkit-touch-callout: none;
}
#menuToggle span
{
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;
background: #cdcdcd;
border-radius: 3px;
z-index: 1;
transform-origin: 4px 0px;
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
}

#menuToggle span:first-child
{
transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
opacity: 1;
transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
position: absolute;
width: 450px;
min-height:2500px;
margin-bottom: 0;
padding-top: 125px;
left: -100px;
margin-top:-50px;
background: #ededed;
transform: translate(-100%, 0%);
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menuToggle input:checked ~ ul
{
transform: scale(1.0, 1.0);
opacity: 1;
}
#menu li
{
padding: 10px 0;
font-size: 22px;
margin-left: 100px;
}


/* top left menu */
.top-left-menu{
display: inline;
margin:10px;
float:left;
width: 70%;
}

/* top right menu */
.top-right-menu{
display: inline;
margin:5px;
float:right;
width:20%;
text-align:center;
padding:10px;
margin-right:10px;
margin-top: 0px;
}
.top-right-menu span{
margin:5px;
}

.buttons{
width: 6%;
  position: absolute;
  top: 1.5%;
  right: -3%;
  z-index: 99;
}
.buttons button{
display:block;
margin-bottom: 3px;

}

/* middle section */
.middle-left{
width: 100%;
float:left;
}
.middle-right{
width:0%;
float:right;
}

/* footer */
.footer {
left: 0;
bottom: 0;
width: 100%;
height:8%;
color: white;
text-align: center;
position:fixed;
border-radius:5px;
border-image-slice: 1;
border-width: 1px;
background-color:transparent;
z-index:0;
}

img{
  width:45px;
  margin-top:-10px;
  font-size: 24px;
}

.dropdown-menu{
  transform: translate3d(0px, -350px, 5px)!important;
  width:120px;
}

.zoom{
margin-left:0px;
margin-top:0px;
text-align:right;
border-radius:2px;
width:75%;
border-image-slice: 1;
border-width: 1px;
}
.zoom .section{
height:48px;
margin-top:0px;
padding-top:2px;
}
.object-filters{
width:75%;
margin-left:0px;
margin-top:10px;
text-align:right;
border-radius:5px;
border-image-slice: 1;
border-width: 1px;
}
.filters{
width:75%;
margin-left:0px;
margin-top:10px;
text-align:right;
border-radius:5px;
border-image-slice: 1;
border-width: 1px;
}
.grid{
width:75%;
margin-left:0px;
margin-top:10px;
text-align:right;
border-radius:5px;
border-image-slice: 1;
border-width: 1px;
height:100%
}
label{
margin-right:5px;
float:left;
}
.section{
  height:30px;
  padding-top:8px;
  margin-top:0px;
}
.filters .section{
  height:30px;
  padding-top:8px;
  margin-top:12px;
}
.name{
  font-size:10px;
  margin-left:-5px;
  vertical-align: top;
  color:white;
}

label {
cursor: pointer;
text-indent: -9999px;
width: 25px;
height: 15px;
background: grey;
display: block;
border-radius: 100px;
position: relative;
margin-left:40px;
}
label:after {
content: '';
position: absolute;
top: 0px;
left: 0px;
width: 15px;
height: 15px;
background: #fff;
border-radius: 90px;
transition: 0.3s;
}
input:checked + label {
background: rgb(33, 134, 177);
}
input:checked + label:after {
left: calc(100% - 0px);
transform: translateX(-100%);
}
label:active:after {
width: 10px;
}
.input-group-append{
  width:300px;
  font-family:Montserrat,sans-serif;
  font-weight: normal;
}
.slider{
margin: 0 auto;
text-align:center;
}
.slidecontainer{
margin: 0 auto;
text-align:center;
}

.btn{
width: 140px;
height: 40px;
border-radius:2px;
box-shadow: 0 0 0 .2rem transparent !important;
background-color:rgba(28,51,83,.52) !important;
margin-bottom:5px;
color: white;
}

.btn btn-menu{
width: 100px;
height: 40px;
border-radius:2px;
box-shadow: 0 0 0 .2rem transparent !important;
background-color:rgba(28,51,83,.52) !important;
margin-bottom:5px;
}

/* buttons*/
.btn-search{
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width:60px;
  height:30px;
  font-size:12px;
  border:0px;
  background-color: rgba(33,134,177);
  color:white;
}
.btn-search:hover{
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width:60px;
  height:30px;
  font-size:12px;
  border:0px;
  background-color: rgba(33,134,177);
  color:white;
  outline: none;
}
.btn-search:focus{
  box-shadow:0 0 0 .0rem rgba(0,123,255,.25);
}

/* search */
.form-group{
  text-align:center;
  margin-left:50px;
}
.form-control{
  border-radius: 0px;
  border-color: rgba(33,134,177);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 200px;
  height: 30px;
  background-color:rgba(28,51,83,.52);
  color: white;
}
.input-group-append{
  width:400px;
  font-family:Montserrat,sans-serif;
  font-weight: normal;
}
.selectDefault, .selectDiv option {
  font-family:Montserrat,sans-serif;
  font-weight: normal;
  }
