<div class="container">
    <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
      <div class="form-group">
        <label for="name">Search</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Object name is required
        </div>
      </div>
      <button type="submit" [disabled]="!searchForm.form.valid">Submit</button>
    </form>
</div>
