<form (ngSubmit)="onSubmit()" #searchForm="ngForm">
  <div class="form-group">
    <div class="form">
      <div class="input-group-append">
        <input type="text" class="form-control" id="name" placeholder="Search..."
               required [(ngModel)]="model.name" #name="ngModel">
        <button class="btn-search" type="submit" [disabled]="!searchForm.form.valid" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
    <input type="radio" name="optradio" checked>Star
    <input type="radio" name="optradio">Comet
    <input type="radio" name="optradio">Planetoid
  </div>
</form>


