<app-generic-modal title="SignUp">
  <div class="container">
    <form [formGroup]="signupForm">
      <div class="form-group">
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="USERNAME" #username
               required autofocus (keyup.enter)="keyupEnterSubmit.click()">
      </div>

      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="error-message error-message-field">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 3 characters long.
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="emailInput" formControlName="emailInput" placeholder="EMAIL" #email
               required (keyup.enter)="keyupEnterSubmit.click()">
      </div>

      <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
           class="error-message error-message-field">
        <div *ngIf="emailInput.errors.required">
          Email is required.
        </div>
        <div *ngIf="emailInput.errors.email">
          Email must be a valid email address
        </div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="passwd" formControlName="passwd" placeholder="PASSWORD"
               #password (keyup.enter)="keyupEnterSubmit.click()">
      </div>

      <div *ngIf="passwd.invalid && (passwd.dirty || passwd.touched)"
           class="error-message error-message-field">
        <div *ngIf="passwd.errors.required">
          Password is required.
        </div>
        <div *ngIf="passwd.errors.minlength">
          Password must be at least 8 characters long.
        </div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="confirmPasswordInput" formControlName="confirmPasswordInput"
               placeholder="CONFIRM PASSWORD" #confirmPassword (keyup.enter)="keyupEnterSubmit.click()">
      </div>

      <div *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)"
           class="error-message error-message-field">
        <div *ngIf="confirmPasswordInput.errors.required">
          Password confirmation is required.
        </div>
        <div *ngIf="confirmPasswordInput.errors.minlength">
          Confirmed password must be at least 8 characters long.
        </div>
      </div>

      <div id="errorDiv" class="error-message">{{errorMessage}}</div>
    </form>
  </div>
</app-generic-modal>
<div class="modal-footer">
  <button type="submit" class="btn btn-default" [disabled]="!signupForm.valid"
          (click)="startRegisteringNewUser(username.value, email.value, password.value, confirmPassword.value);"
          #keyupEnterSubmit>
    {{title}}
  </button>
</div>
