<div class="container slideInLeft animated">
  <button routerLink="/" type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <table class="table table-striped table-sm">
    <tr class="search-table">
      <td><input st-search="" class="form-control" placeholder="search ..." type="text"/></td>
      <td><input (click)="openNewObservation()" type="button" value="New Observation"/></td>
      <td><input type="button" value="Generate Catalog"/></td>
    </tr>
    <tr>
      <th *ngFor="let head of headObservations">{{head}}</th>
      <th><input class="btn-long btn-default" align="right" type="button" value="Remove" (click)="removeObservation()"/></th>
    </tr>
    <tr *ngFor="let observation of observations">
      <td><input align="left" class="url" value="{{observation.ObjectName}}" (click)="editObservation()"/></td>
      <td>{{observation.StartDate}}</td>
      <td>{{observation.EndDate}}</td>
      <td><input class="read-only btn-default" type="button" value="{{observation.U}}" (click)="editTimeSeries()"/></td>
      <td><input class="read-only btn-default" type="button" value="{{observation.V}}" (click)="editTimeSeries()"/></td>
      <td><input class="read-only btn-default" type="button" value="{{observation.B}}" (click)="editTimeSeries()"/></td>
      <td><input class="read-only btn-default" type="button" value="{{observation.R}}" (click)="editTimeSeries()"/></td>
      <td><input class="read-only btn-default" type="button" value="{{observation.I}}" (click)="editTimeSeries()"/></td>
      <td>{{observation.Owner}}
        <div class="checkmark-circle">
          <div class="background"></div>
          <div class="checkmark draw"></div>
        </div>
      </td>
      <td style="text-align:center;"><input class="form-check-input" type="checkbox"></td>
    </tr>
  </table>
</div>
