
<div class="main-container">
  <div class="header">
    <div class="top-left-menu">
      <div id="menuToggle" style="z-index: 1000">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <li>Greetings</li>
          <li>We are group of crazy people</li>
          <li><a href="https://github.com/przemastro/Arqonia-2.0" target="_blank">Source Code</a></li>
        </ul>
      </div>
      <div class="form-group">
        <div class="form">
          <div class="input-group-append" style="margin-top:-20px">

            <select class="one_full" (change)="selectObjectType($event)" style="border-top-left-radius:30px;border-bottom-left-radius:30px;width:90px;height:30px;
                           background-color:rgb(33, 134, 177);text-align-last:center; -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';border-color:rgb(33, 134, 177);border-width:1px;border-right-width:0px;font-family:Montserrat,sans-serif;
    font-weight: normal;z-index: 100;outline:none;" id="objectType">
              <option class="defualt-text">-- Select --</option>
              <option value="star">Star</option>
              <option value="planetoid">Planetoid</option>
              <option value="comet">Comet</option>
            </select>

            <input type="text" style="z-index: 100" class="form-control" id="search-top" placeholder="Search..."
                   required #object>
            <button (click)="sendObject(object.value)" style="z-index: 100;outline:none;" routerLink="/diagrams" class="btn-search" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="top-right-menu">
         <span *ngIf="!checkIfIsLoggedIn()"><a class="btn" style="position: relative;width:80px;height:30px;z-index: 100;margin-top:-28px" href="javascript:void(0);" (click)="openLogin()">LOGIN</a></span>
      <span *ngIf="checkIfIsLoggedIn()"><a class="btn" style="position: relative;width:80px;height:30px;z-index: 100;margin-top:-28px" href="javascript:void(0);" (click)="logout()">LOGOUT</a></span>
      <span><a class="btn" style="position: relative;width:80px;height:30px;z-index: 100;margin-top:-28px" href="javascript:void(0);" (click)="openSignup()">SIGNUP</a></span>
    </div>

  </div>
  <div class="middle">
    <div class="middle-left">
      <section>
        <router-outlet></router-outlet>
      </section>
    </div>
    <div class="middle-right">
      <app-nav></app-nav>
    </div>
  </div>
  <div class="footer" style="width:94%">
    <div class="section" id="time-div" style="display:inline-block;margin-left:140px">
          <div class="section" id="reduction">
            <img draggable="false" src="./assets/images/reduction.png" data-toggle="tooltip" data-placement="top" title="CCD Data Reduction">
            <img draggable="false" src="./assets/images/photometry.png" data-toggle="tooltip" data-placement="top" title="Photometry Lab">
            <img draggable="false" src="./assets/images/astrometry.png" data-toggle="tooltip" data-placement="top" title="Astrometry Lab">
            <img draggable="false" src="./assets/images/spectroscopy.png" data-toggle="tooltip" data-placement="top" title="Spectroscopy Lab">
            <a routerLink="/observations">
              <img draggable="false" src="./assets/images/observations.png" data-toggle="tooltip" data-placement="top" title="Time Series">
            </a>
            <img draggable="false" src="./assets/images/telescopes.png" data-toggle="tooltip" data-placement="top" title="Observatories">
          </div>
    </div>
  </div>
</div>
